@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  @apply transition-colors duration-200;
}

.post-content p {
  margin-bottom: 0.5rem;
  /* color: red; */
}
.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  /* color: red; */
  margin: 1.5rem 0;
}
.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5 rem;
  /* color: red; */
}
.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}
.post-content a:hover {
  color: rgb(73, 149, 199);
  text-decoration: underline;
}
.dark .post-content a {
  color: rgb(199, 19, 40);
  text-decoration: none;
}
.dark .post-content a:hover {
  color: rgb(199, 19, 40);
  text-decoration: underline;
}

/* Styling for React Quill editor content */
.ql-editor {
  font-family: Arial, sans-serif; /* Choose a readable font family */
  font-size: 16px; /* Set a comfortable font size */
  line-height: 1.6; /* Increase line height for readability */
  color: #333; /* Choose a dark color for text */
  padding: 20px; /* Add padding for better spacing */
}

/* Styling for headings in React Quill editor */
.ql-editor h1,
.ql-editor h2,
.ql-editor h3 {
  font-weight: bold; /* Make headings bold */
  margin-bottom: 0.5em; /* Add spacing below headings */
}

/* Styling for lists in React Quill editor */
.ql-editor ul,
.ql-editor ol {
  margin-left: 1.5em; /* Indent lists for better hierarchy */
  padding-left: 0; /* Reset default padding */
}
